@import url("https://fonts.googleapi.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #23856d;
  color: #ffffff;
  height: 58px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.nav-bar {
  display: flex;
  padding-top: 15px;
  padding-left: 35px;
}

.nav-bar h6 {
  padding-left: 15px;
  font-family: "Montserrat";
}

#email {
  padding-left: 40px;
}

#nav-bar-h {
  padding-top: 15px;
  font-family: "Montserrat";
}

#follow {
  display: flex;
  padding-top: 15px;
  margin-right: 40px;
}

#follow h6 {
  padding-right: 20px;
}

.follow-image {
  width: 120px;
  height: 26px;
  padding: 0px 0.5px 0px 0px;
  gap: 0px;
  opacity: 0px;
}

.follow-image-1 {
  padding-right: 9px;
  position: relative;
  height: 20px;
  /* padding: 5px 0px 0px 0px; */
  gap: 0px;
  opacity: 0px;
}

.navbar-light {
  height: 58px;
  top: 70px;
  padding: 0px 17px 0px 38px;
  gap: 24px;
  border-radius: 34px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  font-family: "Montserrat";
}

.navbar-light h3 {
  width: 287px;
  height: 58px;
  left: 38px;
  padding: 13px 79px 13px 0px;
  gap: 15px;
  opacity: 0px;
  color: #252b42;
  letter-spacing: 0.10000000149011612px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.navbar-light ul {
  display: flex;
  height: 25px;
  top: 16.5px;
  gap: 15px;
  opacity: 0px;
  color: #737373;
  height: Hug (25px) px;
  top: 16.5px;
  gap: 15px;
  opacity: 0px;
}

.inner-navbar-light-1 {
  position: relative;
  right: 100px;
  padding: 13px 79px 13px 0px;
}

.inner-navbar-light-1 ul {
  width: 400px;
}

.navbar-light ul li {
  list-style: none;
  font-family: "Montserrat";
}

.inner-navbar-light {
  display: flex;
  width: Hug 324px;
  height: 54px;
  top: 2px;
  gap: 0px;
  opacity: 0px;
  margin-left: 150px;
  color: #23a6f0;
}

.inner-navbar-light li {
  padding-top: 15px;
  padding-left: 15px;
}

.navbar-BTN {
  background-color: transparent;
  color: #23a6f0;
  outline: none;
  font-family: "Montserrat";
  width: 190px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  width: 1130px;
  height: 776px;
  position: relative;
  bottom: 74px;
  left: 100px;
  padding: 80px 0px 80px 0px;
  gap: 0px;
  opacity: 0px;
}

.inner-hero {
  position: relative;
  top: 96px;
  padding-left: 24px;
}

.inner-hero-1 {
  position: relative;
  top: 110px;
}

.hero-section h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #252b42;
}

.hero-section h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #252b42;
}

.hero-section h3 {
  color: #252b42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.hero-image {
  padding-right: 16px;
  position: relative;
  bottom: 15px;
}

#inner-hero-img {
  margin-top: 7px;
}

.inner-hero-section {
  display: flex;
  position: relative;
  bottom: 71px;
}

#hero-1 {
  padding-left: 15px;
}

.items {
  color: #2dc071;
}

section h4 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
}

section h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #252b42;
}

section p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
}

section ul {
  display: flex;
  flex-wrap: wrap;
}

section li {
  list-style: none;
}

.section-images {

  width: 120px;
  height: 180px;
  background-color: #d8dbe5;

  padding: 0;
  margin: 0;

  width: 183px;
height: 238px;
gap: 0px;
opacity: 0px;

}

section h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #252b42;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 1000px;
  position: relative;
  left: 170px;
  margin-top: 40px;
}

.product-item {
  flex: 1 1 calc(20% - 16px);
  max-width: calc(20% - 16px);
  padding: 16px;
  text-align: center;
}

.product-item h2 {
  font-size: 1.25em;
  margin: 8px 0;
}

.product-item p {
  margin: 4px 0;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #737373;
}

#discount {
  color: #23856d;
  padding-left: 5px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}

#product-amount {
  display: flex;
  padding-left: 25px;
}

#product-price {
  color: #bdbdbd;
}

.view-more-btn {
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #23a6f0;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  background-color: transparent;
  color: #23a6f0;
  margin-bottom: 20px;
  position: relative;
  left: 550px;
  top: 50px;
}

.feature-products {
  margin-top: 100px;
}

.feature-products h4 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
}

.feature-products h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #252b42;
}

.feature-products p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
}

.feature-products-1 {
  display: flex;
  position: relative;
  left: 195px;
  top: 40px;
  width: 1000px;
}

.feature-products-1 h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}

.feature-products-1 p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
}

.inner-cards {
  width: 315px;
  height: 274px;
  padding: 35px 40px 35px 40px;
  gap: 20px;
  opacity: 0px;
}

.inner-cards img {
  position: relative;
  width: 63px;
  height: 49.5px;
  /* top: 11.25px;  */
  left: 80.5px;
  gap: 0px;
  opacity: 0px;
}

.container {
  width: 1100px;
  height: 994px;
  position: relative;
  left: 130px;
  padding: 112px 0px 112px 0px;
  gap: 80px;
  opacity: 0px;
}

.inner-container-1 {
  padding-left: 8px;
}

.inner-container {
  display: flex;
  width: Fixed 328px;
  height: 606px;
  gap: 0px;
  opacity: 0px;
}

.container h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #23a6f0;
}

.container h2 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #252b42;
}

.google {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #8ec2f2;
}

.trending,
.new {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

.container h4 {
  width: 247px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #252b42;
}

.container p {
  width: 280px;
  height: 60px;
  gap: 0px;
  opacity: 0px;

  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #737373;
}

.frame1 {
  width: 298px;
  height: 46px;
  padding: 15px 0px 15px 0px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  width: 100px;
}

.comments {
  position: relative;
  left: 217px;
  bottom: 60px;
  padding-left: 18px;
}

.tag {
  position: relative;
  top: 56px;
  left: 15px;
}

.testimonial {
  display: flex;
  width: Fixed 1128px;
  height: 522px;
  padding: 48px 0px 0px 0px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  position: relative;
  bottom: 100px;
}

.testimonial h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #252b42;
}

#testi-image {
  text-align: center;
  width: 100px;
  margin-top: 50px;
  margin-left: 160px;
}

.testimonial h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
  padding-top: 10px;
}

#regina {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #23a6f0;
  padding-top: 10px;
}

#des {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #252b42;
}

#star {
  position: relative;
  right: 20px;
  padding-top: 8px;
}

.inner-testimonial {
  width: 438px;
  height: 388.01px;
  gap: 28px;
  opacity: 0px;
  position: relative;
  left: 100px;
}

.tiastimonial-images {
  width: 500px;
}

.better-experience {
  background-image: url(../src/componenet/images/unsplash_XEmaJaM-4nE.png);
  height: 640px;
  gap: 40px;
  opacity: 0px;
}

.better-experience-1{
  padding-top: 170px;
}

.better-experience h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #23a6f0;
}

.better-experience h2 {
  width: 571px;
  height: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  margin-left: 400px;
  color: #252b42;
  padding-top: 20px;
}

.better-experience p{
  width: 447px;
height: 40px;
gap: 0px;
opacity: 0px;
margin-left: 450px;
font-family: "Montserrat";
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: center;
color: #737373;
padding-top: 50px;
}

.better-experience h3{
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
text-align: center;
color: #23856d;
padding-top: 60px;
}

.better-experience button{
width: 302px;
height: Fixed 52px;
padding: 15px 40px 15px 40px;
gap: 10px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
background: #23A6F0;
margin-left: 525px;
margin-top: 30px;
}

.bandage{
  width: 1347px;
height: 142px;
padding: 0px 195px 4px 195px;
gap: 40px;
opacity: 0px;
background: #FAFAFA;  
display: flex;
justify-content: space-between; 
}

.bandage h3{
   width: 114px;
  height: 32px;
  top: 13px;
  gap: 0px;
  opacity: 0px;


font-family: "Montserrat";
font-size: 24px;
font-weight: 700;
line-height: 32px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: #252B42; 
padding-top: 60px;
}

.bandage img{
  /* width: 112px; */
  height: 24px;
  gap: 20px;
  opacity: 0px;
  margin-top: 60px;
  padding-left: 10px;
}

footer{
  /* width: 1440px; */
height: 272px;
top: 142px;
padding: 0px 195px 2px 195px;
gap: 40px;
opacity: 0px;
}

.inner-footer{
display: flex;
  width: Fixed 1050px;
height: 270px;
left: 195px;
padding: 50px 0px 50px 0px;
gap: 0px;
opacity: 0px;
}

footer h5{
font-family: "Montserrat";
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: #252B42;
padding-bottom: 20px;
}

footer a {

font-family: "Montserrat";
font-size: 14px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #737373;
}

.inner-footer-1{
  width:  1041px;
  height: 170px;
  gap: 30px;
  opacity: 0px;
}

#inner-footer-1-p{
  font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #737373;
}

.input-group{
  display: flex;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    overflow: hidden;
}

.input-field {
  border: none;
  padding: 10px;
  flex: 1;
  outline: none;
  background-color: #F9F9F9;
  color: #737373;
}

.subscribe-btn {
width: 117px;
height: 58px;
padding: 15px 22.5px 15px 22.5px;
gap: 10px;
border-radius: 0px 5px 5px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
background-color: #23A6F0;
cursor: pointer;
}

#last-footer{
height: 70px;
/* top: 14px; */
gap: 40px;
opacity: 0px;
background: #FAFAFA;
color: #737373;
}

#learn-more h6{
font-family: "Montserrat";
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #737373;
}

#learn-more img{
  width: 12px;
height: 16px;
padding: 0px 0.38px 0px 0px;
margin-left: 5px;
position: relative;
top: 5px;
gap: 0px;
opacity: 0px;

}