@import url("https://fonts.googleapi.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #23856d;
  color: #ffffff;
  height: 58px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.nav-bar {
  display: flex;
  padding-top: 15px;
  padding-left: 35px;
}

.nav-bar h6 {
  padding-left: 15px;
  font-family: "Montserrat";
}

#email {
  padding-left: 40px;
}

#nav-bar-h {
  padding-top: 15px;
  font-family: "Montserrat";
}

#follow {
  display: flex;
  padding-top: 15px;
  margin-right: 40px;
}

#follow h6 {
  padding-right: 20px;
}

.follow-image {
  width: 120px;
  height: 26px;
  padding: 0px 0.5px 0px 0px;
  gap: 0px;
  opacity: 0px;
}

.follow-image-1 {
  padding-right: 9px;
  position: relative;
  height: 20px;
  /* padding: 5px 0px 0px 0px; */
  gap: 0px;
  opacity: 0px;
}

.navbar-light {
  height: 58px;
  top: 70px;
  padding: 0px 17px 0px 38px;
  gap: 24px;
  border-radius: 34px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  font-family: "Montserrat";
}

.navbar-light h3 {
  width: 287px;
  height: 58px;
  left: 38px;
  padding: 13px 79px 13px 0px;
  gap: 15px;
  opacity: 0px;
  color: #252b42;
  letter-spacing: 0.10000000149011612px;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}

.navbar-light ul {
  display: flex;
  height: 25px;
  top: 16.5px;
  gap: 15px;
  opacity: 0px;
  color: #737373;
  height: Hug (25px) px;
  top: 16.5px;
  gap: 15px;
  opacity: 0px;
}

.inner-navbar-light-1 {
  position: relative;
  right: 100px;
  padding: 13px 79px 13px 0px;
}

.inner-navbar-light-1 ul {
  width: 400px;
}

.navbar-light ul li {
  list-style: none;
  font-family: "Montserrat";
}

.inner-navbar-light {
  display: flex;
  width: Hug 324px;
  height: 54px;
  top: 2px;
  gap: 0px;
  opacity: 0px;
  margin-left: 150px;
  color: #23a6f0;
}

.inner-navbar-light li {
  padding-top: 15px;
  padding-left: 15px;
}

.navbar-BTN {
  background-color: transparent;
  color: #23a6f0;
  outline: none;
  font-family: "Montserrat";
  width: 190px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  width: 1130px;
  height: 776px;
  position: relative;
  bottom: 74px;
  left: 100px;
  padding: 80px 0px 80px 0px;
  gap: 0px;
  opacity: 0px;
}

.inner-hero {
  position: relative;
  top: 96px;
  padding-left: 24px;
}

.inner-hero-1 {
  position: relative;
  top: 110px;
}

.hero-section h2 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #252b42;
}

.hero-section h6 {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #252b42;
}

.hero-section h3 {
  color: #252b42;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
}

.hero-image {
  padding-right: 16px;
  position: relative;
  bottom: 15px;
}

#inner-hero-img {
  margin-top: 7px;
}

.inner-hero-section {
  display: flex;
  position: relative;
  bottom: 71px;
}

#hero-1 {
  padding-left: 15px;
}

.items {
  color: #2dc071;
}

section h4 {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
}

section h3 {
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #252b42;
}

section p {
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #737373;
}

section ul {
  display: flex;
  flex-wrap: wrap;
}

section li {
  list-style: none;
}

.section-images {
  width: 120px;
  height: 180px;
  background-color: #252b42;
  padding: 0;
  margin: 0;
}

section h5 {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #252b42;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 1000px;
  position: relative;
  left: 170px;
  margin-top: 40px;
}

.product-item {
  flex: 1 1 calc(20% - 16px);
  max-width: calc(20% - 16px);
  padding: 16px;
  text-align: center;
}

.product-item h2 {
  font-size: 1.25em;
  margin: 8px 0;
}

.product-item p {
  margin: 4px 0;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
  color: #737373;
}

#discount {
  color: #23856d;
  padding-left: 5px;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;
}

#product-amount {
  display: flex;
  padding-left: 25px;
}

#product-price {
  color: #bdbdbd;
}

.view-more-btn {
  padding: 15px 40px 15px 40px;
  gap: 10px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #23a6f0;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  background-color: transparent;
  color: #23a6f0;
  margin-bottom: 20px;
  position: relative;
  left: 550px;
  top: 70px;
}
